In [38]:
a = "아침"
b = "점심"
c = "저녁"

print (a,b,c)
print (a,b,c, sep="먹고 ")
print (a,b,c, sep="먹고 ", end ="땡")

아침 점심 저녁
아침먹고 점심먹고 저녁
아침먹고 점심먹고 저녁땡

In [39]:
a = "아침"
b = "점심"
c = "저녁"
print(a,b,c)
print(a,b,c, sep = "먹고 ")
print(a,b,c, sep = "먹고 " ,end ="")
print(a,b,c, sep = "자고 " ,end ="")
print(a,b,c, sep = "먹고 " ,end ="\n")
print(a,b,c, sep = "자고 " ,end ="\n")

아침 점심 저녁
아침먹고 점심먹고 저녁
아침먹고 점심먹고 저녁아침자고 점심자고 저녁아침먹고 점심먹고 저녁
아침자고 점심자고 저녁

In [40]:
a= 22
b= 33
print(a,b, sep="+", end="=")
print(a+b)

22+33=55

In [42]:
var = input("입력 전 출력내용")

입력 전 출력내용test

In [44]:
a= input("너는 이름이 뭐니?")
print("이름이 ",a," 입니다")
b= input("너는 몇 살이니?")
print("나이가 ",b,"살 입니다")

너는 이름이 뭐니?홍길동
이름이  홍길동  입니다
너는 몇 살이니?12
나이가  12 살 입니다

In [49]:
a= input("a값을 입력하셔요?")
b= input("b값을 입력하셔요?")
print(a,b, sep="+" ,end="=")
print(a+b)
print("수치 계산", end =" : ")
print(a,b, sep="+" ,end="=")
print(int(a)+int(b))

a값을 입력하셔요?1
b값을 입력하셔요?2
1+2=12
수치 계산 : 1+2=3

In [47]:
a = input("품목?")
b = int(input("수량?"))
c = int(input("단가?"))
print(a, " : ",b,"개 * ",c,"원 = 총 ", b*c, "원")

품목?초코파이
수량?10
단가?100
초코파이  :  10 개 *  100 원 = 총  1000 원

In [52]:
a = 1 # a 변수 선언 및 초기화
print(a) # a를 출력

a = 2 # a에 2를 대입 
print(a) # a를 출력

b = 3 # b 변수 선언 및 초기화 //
print(b) #b를 출력 3 
print(a) #a를 출력 2

1
2
3
2

In [54]:
a = 1122; print(a); type(a) # a 변수에 1122대입, a를 출력 a의 타입을 출력
b = "hello"; print(b); type(b) # b 변수에 hello 대입, b를 출력, b의 타입을 출력
b=12; type(b) # b 변수에 12 대입, b의 타입을 출력

1122
hello

int

In [55]:
a = 1122; print(a); type(a) #a 변수에 1122대입, a를 출력, a의 타입을 출력
a = 11; print(a) # a 변수에 11d을 대입, a를 출력
del a # a변수 삭제
print(a) #a 출력

1122
11

NameError: name 'a' is not defined

In [57]:
a = 10 #a 변수 선언 및 초기화
b = 1200 #b 변수 선언 및 초기화
c =+1200 #c 변수 선언 및 초기화
d = -1234 #d 변수 선언 및 초기화
print ("a=",a , " b=", b ," c=",c, " d=", d)

a= 10  b= 1200  c= 1200  d= -1234

In [59]:
a=21098134232408921340891340984312089423089341208943120934120894312089
b=234412307893421789078903455107893412093412089341208934120894320893421
print("a+b=", a+b)
print("a*b=", a*b)

a+b= 255510442125830710419794796092205501516501430550152055055015215205510
a*b= 4945662337664182251045508647662854964228779292407290431545377548887919021506299614458775856747962183641984855519033366861090951680866469

In [71]:
0b1010 #2진수

10

In [72]:
0b1111 #2진수

15

In [73]:
0b0001 #2진수

1

In [74]:
0b0201 #2진수 오류

SyntaxError: invalid digit '2' in binary literal (4097528594.py, line 1)

In [75]:
0x10 #16진수

16

In [76]:
0x1a #16진수

26

In [77]:
0x2f #16진수

47

In [78]:
0x3z #16진수 오류

SyntaxError: invalid syntax (3986162713.py, line 1)

In [83]:
#
  1+2

IndentationError: unexpected indent (3440547436.py, line 2)

In [84]:
print(hex(12));print(oct(22));print(bin(33)) #16진수 변환, 8진수 변환, 2진수 변환

0xc
0o26
0b100001

In [85]:
9.46e12 #9.46 * 10 ^ 12 km (10의12승)

9460000000000.0

In [86]:
9.46e12 + 121312324176834127678963412341298 #실수형과 정수형의 연산을 수행하면 유효숫자만큼만 표현되는데 주의해야 함

1.2131232417683412e+32

In [96]:
a=1+2i #복소수 연산

SyntaxError: invalid syntax (1681953706.py, line 1)

In [100]:
a=1+2j #파이썬에서 복소수는 j로 표현
b=1-2j 
print(a+b, a*b) #출력

(2+0j) (5+0j)

In [105]:
a="aaa" # a는 "aaa" 대입
b="bbb" # b는 "bbb" 대입
a+b #a+b 출력

'aaabbb'

In [106]:
a="aaa" # a는 "aaa" 대입
b="bbb" # b는 "bbb" 대입
a*b #a*b 존재하지 않음

TypeError: can't multiply sequence by non-int of type 'str'

In [111]:
a="aaa" # a는 "aaa" 대입
b="bbb" # b는 "bbb" 대입
a*3 # a 3번 반복

'aaaaaaaaa'

In [112]:
a="aaa" # a는 "aaa" 대입
b="bbb" # b는 "bbb" 대입
b*5 # b 5번 반복

'bbbbbbbbbbbbbbb'

In [123]:
#호랑이가 "떡하나 주면 안잡아 먹지" 라고 말했습니다.
print ('호랑이가 "떡하나 주면 안잡아 먹지" 라고 말했습니다.')

print("호랑이가 \"떡하나 주면 안잡아 먹지\" 라고 말했습니다.")

#I say " I Love You"
print("I say \"I Love You\"")

호랑이가 "떡하나 주면 안잡아 먹지" 라고 말했습니다.
호랑이가 "떡하나 주면 안잡아 먹지" 라고 말했습니다.
I say "I Love You"

In [124]:
 print ("I say "I Love You"")

SyntaxError: invalid syntax (4294271992.py, line 1)

In [125]:
print("""오늘 열심히 파이썬을 공부했습니다. 
내일도 열심히 파이썬을 공부할 것 입니다.
그래서 일등할 것입니다.""")

오늘 열심히 파이썬을 공부했습니다.
내일도 열심히 파이썬을 공부할 것 입니다.
그래서 일등할 것입니다.

In [127]:
print("오늘 열심히 파이썬을 공부했습니다. \
내일도 열심히 파이썬을 공부할 것입니다. \
그래서 일등할 것입니다")

오늘 열심히 파이썬을 공부했습니다. 내일도 열심히 파이썬을 공부할 것입니다. 그래서 일등할 것입니다

In [128]:
a = "오늘은" "즐거운" "일요일" #작은 문자열 나열

print(a) #a 출력

print("오늘 열심히 파이썬을 공부했습니다. \n" #출력
"내일도 열심히 파이썬을 공부할 것입니다. \n"
"그래서 일등할 것입니다")

오늘은즐거운일요일
오늘 열심히 파이썬을 공부했습니다.
내일도 열심히 파이썬을 공부할 것입니다.
그래서 일등할 것입니다

In [135]:
a = True # a 변수 Ture 대입
b = False # b변수 False 대입
a and b #a와 b

False

In [136]:
a = True # a 변수 Ture 대입
b = False # b변수 False 대입
a or b #a와 b

True

In [138]:
a = 0 # a 변수 0 대입
b = a == 0 # b = a ==0이다
b #b 출력

True

In [144]:
a = True # a 변수 Ture 대입
b = False # b변수 False 대입

if 1>2 and a and b or b or a: #조건문 1이 2보다 크고 a가 참이고 b가 참이거나 b가 참이거나 a가 참이면
    print("참") # 참 출력
else: # 그렇지 않으면
    print("거짓") # 거짓 출력

참

In [146]:
rainbow = ["빨", "주", "노", "초", "파", "남", "보"] #컬렉션 리스트 저장

print (rainbow) # rainbow 출력

True

['빨', '주', '노', '초', '파', '남', '보']

True

In [150]:
rainbow = ["빨강","주황","노랑","초록","파랑","남색","보라"] #컬렉션 리스트 저장
for color in rainbow : # color라는 변수에 rainbow를 입력하고
    print ( color, "색")  # 출력

빨강 색
주황 색
노랑 색
초록 색
파랑 색
남색 색
보라 색

In [151]:
rainbow = ("빨강","주황","노랑","초록","파랑","남색","보라") #컬렉션 리스트 저장
for color in rainbow : # color라는 변수에 rainbow를 입력하고
    print ( color, "색")  # 출력

빨강 색
주황 색
노랑 색
초록 색
파랑 색
남색 색
보라 색