In [1]:
a="abcde" # 문자열 지정
a[0],a[1],a[2],a[3],a[4] #출력

('a', 'b', 'c', 'd', 'e')

In [2]:
a[-1],a[2],a[-3],a[-4],a[-5] #-(마이너스)로 위치 지정

('e', 'c', 'c', 'b', 'a')

In [3]:
a="가나다라마" # 문자열 지정
a[0],a[1],a[2],a[3],a[4] #출력

('가', '나', '다', '라', '마')

In [4]:
a="abcde" #a에 문자열 입력
a[1:5] # bcde 출력

'bcde'

In [5]:
a[1:2] #1부터 1까지, b 출력

'b'

In [6]:
a[:6] #처음부터 5까지 출력

'abcde'

In [7]:
a[3:] # 3번째부터 마지막까지

'de'

In [8]:
a[2:-2] #2부터 -2(3)전까지 출력

'c'

In [9]:
a[2:-3] #2부터 -3(2)전까지 출력, 빈칸

''

In [10]:
a[1:-1] #1부터 4전까지 출력 bcd

'bcd'

In [11]:
a="abcdefghijklmabcdefgh"
a.find("f") #처음 찾은 값의 위치를 반환

5

In [12]:
a.rfind("f") #뒤에서부터 찾고, 처음 찾은 값의 위치

18

In [13]:
a.find("i"),a.rfind("i") #앞, 뒤에서부터 검색, 단어가 한개면 똑같다

(8, 8)

In [14]:
a.index("b"),a.rindex("b") #index 함수도 결과는 동일

(1, 14)

In [15]:
a.rindex("z") # 없으면 에러

ValueError: substring not found

In [16]:
a.count("f") #해당문자의 개수를 반환

2

In [17]:
a.rfind("abc") #문자열을 넣어도 된다

13

In [18]:
a="abcdfegabcdfeg" #문자열 선언
if a.find("f") > 0: #a에 f가 있다면 (0보다 크다면)
    print ("a가들어있음") #메세지 출력

a가들어있음

In [19]:
if "f" in a : #f가 a 안에 있다면, 위와 같은 의미
    print ("a가들어있음")

a가들어있음

In [25]:
a="abcDefGh" #문자열 선언
a.upper() #a를 대문자로 변경

'ABCDEFGH'

In [21]:
a="abcDefGh" #문자열 선언
a.lower() #a룰 소문자로 변경

'abcdefgh'

In [22]:
a="   abc   def    hij     " #문자열 선언
a.lstrip() #왼쪽의 여백 삭제

'abc   def    hij     '

In [26]:
a="   abc   def    hij     " #문자열 선언
a.rstrip() #오른쪽의 여백 삭제

'   abc   def    hij'

In [24]:
a="   abc   def    hij     " #문자열 선언
a.strip() #양쪽의 여백 삭제

'abc   def    hij'

In [23]:
a="   abc   def    hij     " #문자열 선언
a.replace(" ","") #모든 여백 삭제

'abcdefhij'

In [27]:
rec="홍길동,100,95,88" # 문자열 선언
#문자열을 콤마를 기준으로 잘라서 리스트로 선언, item에 지정
item=rec.split(",")
print("="*14) #구분선 출력
print("이름: ", item[0]) #0번째 값 출력
print("국어: ", item[1]) #1번째 값 출력
print("영어: ", item[2]) #2번째 값 출력
print("수학: ", item[3]) #3번째 값 출력
print("="*14) #구분선 출력

==============
이름:  홍길동
국어:  100
영어:  95
수학:  88
==============

In [28]:
rec="본 예제는 빈칸으로 구분되어 있는 한 줄의 데이터를 빈칸을     구분하여 나누어 줌" #긴 공백 = 공백 5칸
item=rec.split(" ") #공백을 기준으로 자른다.

print("="*14) #구분선 출력
i=0 #i선언 카운트 용
for s in item: #공백을 기준으로 만든 리스트를 for문으로 돌린다.
    print(i,"==>", s) #리스트의 모든 값을 출력한다.
    i+=1 #카운트 증가
print("="*14) #구분선 출력

==============
0 ==> 본
1 ==> 예제는
2 ==> 빈칸으로
3 ==> 구분되어
4 ==> 있는
5 ==> 한
6 ==> 줄의
7 ==> 데이터를
8 ==> 빈칸을
9 ==>
10 ==>
11 ==>
12 ==>
13 ==> 구분하여
14 ==> 나누어
15 ==> 줌
==============

In [31]:
dili_score=["나연,100,90,100", #리스트 데이터 정의
"정연,90,90,100",
"모모,80,70,90",
"사나,90,90,80",
"지효,100,80,80",
"미나,50,90,90",
"다현,80,60,100",
"채영,70,80,90",
"쯔위,100,90,90"]

score=[] #score 선언
for one_rec in dili_score:
    one_score=one_rec.split(",")
    one_score[1]=int(one_score[1]) #국어점수 숫자형 변환
    one_score[2]=int(one_score[2]) #영어점수 숫자형 변환
    one_score[3]=int(one_score[3]) #수학점수 숫자형 변환
    score.append(one_score.copy()) # copy에 주의할 것..값 복사

print(score)

[['나연', 100, 90, 100], ['정연', 90, 90, 100], ['모모', 80, 70, 90], ['사나', 90, 90, 80], ['지효', 100, 80, 80], ['미나', 50, 90, 90], ['다현', 80, 60, 100], ['채영', 70, 80, 90], ['쯔위', 100, 90, 90]]

In [32]:
item="오징어땅콩" #품목
unit=1000 #단가
qty=10 #수량
tot=unit*qty #합계

print("case1") #기존의 방식
print("품목:",item," 단가:",unit,"원 수량:",qty,"개 합계:",tot,"원")

print("case2") #하나의 긴 문자열을 만들어 출력하면 공백없이 출력이 가능
print("품목:"+item+" 단가:"+str(unit)+"원 수량:"+str(qty)+"개 합계:"+str(tot)+"원")

print("case3") #포멧에 맞게 출력문자를 출력한다.
print("품목:%s 단가:%d원 수량:%d개 합계:%d원"%(item,unit,qty,tot))

print("case4") #포멧팅하여 값을 형식에 맞게 출력
print("품목:%-10s 단가:%05d원 수량:0x%02x개 합계:%10.3f원"%(item,unit,qty,tot))

case1
품목: 오징어땅콩  단가: 1000 원 수량: 10 개 합계: 10000 원
case2
품목:오징어땅콩 단가:1000원 수량:10개 합계:10000원
case3
품목:오징어땅콩 단가:1000원 수량:10개 합계:10000원
case4
품목:오징어땅콩      단가:01000원 수량:0x0a개 합계: 10000.000원

In [33]:
item="땅콩" #문자형 자료
unit=1000 #숫자형 자료

print("[%5d][%-5d][%05d]"%(unit,unit,unit)) #5칸 오른쪽 정렬, 5칸 왼쪽 정렬, 5칸 오른쪽 정렬(빈칸은 0)
print("[%5s][%-5s][%05s]"%(item,item,item)) #5칸 오른쪽 정렬, 5칸 왼쪽 정렬, 5칸 오른쪽 정렬
print("[%d]=[%x][%#x][%o]"%(unit,unit,unit,unit))#정수형 출력, 16진수 출력, 0xb 와 같은 형식으로 표현, 8진수 출력, 
print("[%5d%%]"%unit) #5칸 왼쪽정렬 + %출력

#한글은 1byte로 자르면 에러
a="abcd" #문자형 자료 str
print("[%c][%c][%c]"%(a[0],a[1],a[2])) #%c는 문자 자료형 출력포멧 a b c 출력

[ 1000][1000 ][01000]
[   땅콩][땅콩   ][   땅콩]
[1000]=[3e8][0x3e8][1750]
[ 1000%]
[a][b][c]

In [34]:
import locale #locale라이브러리를 임포트 함, 설치는 필요없음
locale.setlocale(locale.LC_ALL, "") # 시스템 기본 로케일 사용
n = -1234567890.123 #숫자 입력
s = locale.format_string("%.3f", n, 1) #숫자에 대해 3번째 마다 콤마를 찍어준다.
print(s)

-1,234,567,890.123

In [35]:
import locale #라이브러리 임포트
locale.setlocale(locale.LC_ALL, "")  #시스템 기본 로케일 사용

myWon=1000000  #숫자형 자료 지정, 100만원
moneyEx=1010.12 #달러환율
commission_rate=0.002  #은행 수수료
a = moneyEx + moneyEx*commission_rate #1달러당 환율금액, 수수료의 합
usd = int (myWon /a) #소수점으로 나오는 부분 버림

remain = int(myWon - usd * a) #거스름 돈 계산
  
commission = usd * moneyEx * commission_rate #환전 수수료총액 계산
   
if(commission != float(int(commission))) : #수수료가 소수점 이하가 있다면
    commission = int(commission) +1 # 올림해라
else:
    commission = int(commission) #수수료가 소수점 이하가 없다면 정수형으로 바꿔라
#총액 출력 구간, 포멧팅에 맞게 값을 출력한다.
print("***************************************************")
print("총금액: %s원 \t달러환율: $%s"%( \
    locale.format_string("%12d", myWon, 1), \
    locale.format_string("%-12d", moneyEx, 1)) )
#거스름돈 출력 구간, 포멧팅에 맞게 값을 출력한다.
print("지급달러: $%s"% locale.format_string("%-12d", usd, 1))
print("거스름돈: %s원 \t은행수수료: %s원"%( \
    locale.format_string("%6d", remain, 1), \
    locale.format_string("%6d", commission, 1)) )
print("***************************************************")

***************************************************
총금액:    1,000,000원 	달러환율: $1,010
지급달러: $988
거스름돈:      5원 	은행수수료:  1,996원
***************************************************

In [36]:
def titleprint(): #상단부 출력 함수
    print("="*50) #구분선 출력
    print("이름\t국어\t영어\t수학\t총점\t평균") #항목 출력
    print("="*50) #구분선 출력
              
def itemprint(name,kor,eng,mat): #4개의 인자를 받는 함수, 성적부분 출력
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3) #이름,성적,총점, 평균
              
def tailprint(): #하단부 출력(성적 집계 및 평균)
    totkor=0 #숫자형 변수 선언, 국어 성적 합 
    toteng=0 #숫자형 변수 선언, 영어 성적 합
    totmat=0 #숫자형 변수 선언, 수학 성적 합
    for one_student in score: #성적 리스트에서 값을 추출하는 for문
        totkor+=one_student[kor] 
        toteng+=one_student[eng]
        totmat+=one_student[mat]
    print("="*50) #구분선 출력
    #총점, 평균을 포멧에 맞게 출력한다.
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t"\
        ,(totkor+toteng+totmat),"\t",(totkor+toteng+totmat)/3//9)
    print("="*50) #구분선 출력
              
#데이터 리스트
dili_score=["나연,100,90,100",
    "정연,90,90,100",
    "모모,80,70,90",
    "사나,90,90,80",
    "지효,100,80,80",
    "미나,50,90,90",
    "다현,80,60,100",
    "채영,70,80,90",
    "쯔위,100,90,90"]

score=[] #추출한 데이터를 담을 리스트 선언
for one_rec in dili_score: #2차원리스트에서 값을 하나씩 대입하는 for문
    one_score=one_rec.split(",") # 콤마 단위로 잘라서 리스트에 대입
    one_score[1]=int(one_score[1]) #국어점수 숫자형 변환
    one_score[2]=int(one_score[2]) #영어점수 숫자형 변환
    one_score[3]=int(one_score[3]) #수학점수 숫자형 변환
    score.append(one_score.copy()) # copy에 주의할 것..값 복사

# 각 변수들의 리스트에서의 위치
name=0;kor=1;eng=2;mat=3

#위에서 선언한 함수들을 실행한다.
titleprint()
for one_student in score:
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat])
tailprint()

==================================================
이름	국어	영어	수학	총점	평균
==================================================
나연 	 100 	 90 	 100 	 290 	 96
정연 	 90 	 90 	 100 	 280 	 93
모모 	 80 	 70 	 90 	 240 	 80
사나 	 90 	 90 	 80 	 260 	 86
지효 	 100 	 80 	 80 	 260 	 86
미나 	 50 	 90 	 90 	 230 	 76
다현 	 80 	 60 	 100 	 240 	 80
채영 	 70 	 80 	 90 	 240 	 80
쯔위 	 100 	 90 	 90 	 280 	 93
==================================================
반총점	 760 	 740 	 820 	 2320 	 85.0
==================================================