In [1]:
f=0 #변수 선언
try: #try - catch - finally 문 실행
    f=open("LICENSE.txt","rt") #LICENSE.txt 명의 텍스트 파일 읽기모드로 열기
    while True: #무한 루프
        r=f.readline() #라인이 없어질때까지 메세지 출력
        if not r:
            break
        print(r) 
except FileNotFoundError: #파일이 없을경우 메세지 출력
    print("파일없음")
finally: #다 끝나고 나면 메세지 출력
    if(f): f.close()
    print("프로그램 끝")

파일없음
프로그램 끝

In [11]:
import random as r

f=0 #변수 선언
f=open("score.txt","wt") #score.txt로 파일명 지정, 쓰기 + 텍스트 파일형
for i in range(100): #0부터 99까지 i에 입력하는 for문 작성
    one_person="홍길동"+str(i)+","+str(r.randrange(0,100))+","+str(r.randrange(0,100))+","+str(r.randrange(0,100))+"\n" #홍길동+번호, 범위랜덤함수로 성적 무작위 입력
    f.write(one_person) #한 줄씩 쓴다
    print(one_person) #값 출력
f.close() #파일 작성 종료

홍길동0,58,40,83

홍길동1,72,36,41

홍길동2,23,66,76

홍길동3,98,59,72

홍길동4,50,98,52

홍길동5,29,60,96

홍길동6,11,8,66

홍길동7,36,83,94

홍길동8,83,85,12

홍길동9,17,87,68

홍길동10,15,23,77

홍길동11,74,96,5

홍길동12,33,18,96

홍길동13,50,98,33

홍길동14,37,28,67

홍길동15,55,81,99

홍길동16,16,27,27

홍길동17,36,47,31

홍길동18,10,5,7

홍길동19,97,87,60

홍길동20,20,80,49

홍길동21,98,39,94

홍길동22,56,36,27

홍길동23,41,52,56

홍길동24,42,43,74

홍길동25,39,8,64

홍길동26,78,2,67

홍길동27,70,16,44

홍길동28,77,21,73

홍길동29,43,20,79

홍길동30,6,58,90

홍길동31,94,67,53

홍길동32,58,44,23

홍길동33,58,99,69

홍길동34,21,40,51

홍길동35,75,5,69

홍길동36,27,21,21

홍길동37,54,4,74

홍길동38,27,75,67

홍길동39,71,94,55

홍길동40,26,85,7

홍길동41,83,52,40

홍길동42,21,43,2

홍길동43,74,1,60

홍길동44,46,80,71

홍길동45,33,98,62

홍길동46,1,67,26

홍길동47,17,92,36

홍길동48,69,45,62

홍길동49,12,64,87

홍길동50,76,52,3

홍길동51,27,98,18

홍길동52,83,17,94

홍길동53,99,99,33

홍길동54,57,98,9

홍길동55,51,90,62

홍길동56,60,80,43

홍길동57,19,17,8

홍길동58,11,43,57

홍길동59,51,81,0

홍길동60,3,81,6

홍길동61,34,71,92

홍길동62,16,21,22

홍길동63,65,56,55

홍길동64,11,78,27

홍길동65,92,92,44

홍길동66,79,49,91

홍길동67,13,34,44

홍길동68,60,22,65

홍길동69,87,92,41

홍길동70,99,74,30

홍길동71,42,28,8

홍길동72,56,72,82

홍길동73,68,68,17

홍길동74,95,76,26

홍길동75,59,0,34

홍길동76,95,3,69

홍길동77,6,32,90

홍길동78,28,91,14

홍길동79,44,9,49

홍길동80,60,17,93

홍길동81,21,25,9

홍길동82,3,53,78

홍길동83,15,17,3

홍길동84,47,95,72

홍길동85,76,19,79

홍길동86,59,7,21

홍길동87,8,26,86

홍길동88,31,4,42

홍길동89,66,68,14

홍길동90,6,38,61

홍길동91,77,23,60

홍길동92,21,87,68

홍길동93,25,18,45

홍길동94,16,85,59

홍길동95,95,64,51

홍길동96,16,49,92

홍길동97,98,32,78

홍길동98,45,67,22

홍길동99,34,6,75

In [12]:
f=0 # 빈 변수 선언
f=open("score.txt","rt") #위에서 생성한 파일 읽어오기, 읽기+텍스트파일
while True: #무한루프
    one_person=f.readline() #한 줄씩 읽는다
    if not one_person:  #읽을 내용이 없으면 루프탈출
        break 
    one_person=one_person.replace("\n","") #줄 바꿈문자 없애기
    item=one_person.split(",") #콤마 구분자로 짜르기
    print("="*15) #구분선 출력
    print("이름: ", item[0]) #읽어온 파일에서 이름 출력
    print("국어: ", item[1]) #읽어온 파일에서 국어 출력
    print("영어: ", item[2]) #읽어온 파일에서 영어 출력
    print("수학: ", item[3]) #읽어온 파일에서 수학 출력
    print("="*15) #구분선 출력
f.close() #파일 읽기 종료

===============
이름:  홍길동0
국어:  58
영어:  40
수학:  83
===============
===============
이름:  홍길동1
국어:  72
영어:  36
수학:  41
===============
===============
이름:  홍길동2
국어:  23
영어:  66
수학:  76
===============
===============
이름:  홍길동3
국어:  98
영어:  59
수학:  72
===============
===============
이름:  홍길동4
국어:  50
영어:  98
수학:  52
===============
===============
이름:  홍길동5
국어:  29
영어:  60
수학:  96
===============
===============
이름:  홍길동6
국어:  11
영어:  8
수학:  66
===============
===============
이름:  홍길동7
국어:  36
영어:  83
수학:  94
===============
===============
이름:  홍길동8
국어:  83
영어:  85
수학:  12
===============
===============
이름:  홍길동9
국어:  17
영어:  87
수학:  68
===============
===============
이름:  홍길동10
국어:  15
영어:  23
수학:  77
===============
===============
이름:  홍길동11
국어:  74
영어:  96
수학:  5
===============
===============
이름:  홍길동12
국어:  33
영어:  18
수학:  96
===============
===============
이름:  홍길동13
국어:  50
영어:  98
수학:  33
===============
===============
이름:  홍길동14
국어:  37
영어:  28
수학:  67
===============
===============
이름:  홍길동15
국어:  55
영어:  81
수학:  99
===============
===============
이름:  홍길동16
국어:  16
영어:  27
수학:  27
===============
===============
이름:  홍길동17
국어:  36
영어:  47
수학:  31
===============
===============
이름:  홍길동18
국어:  10
영어:  5
수학:  7
===============
===============
이름:  홍길동19
국어:  97
영어:  87
수학:  60
===============
===============
이름:  홍길동20
국어:  20
영어:  80
수학:  49
===============
===============
이름:  홍길동21
국어:  98
영어:  39
수학:  94
===============
===============
이름:  홍길동22
국어:  56
영어:  36
수학:  27
===============
===============
이름:  홍길동23
국어:  41
영어:  52
수학:  56
===============
===============
이름:  홍길동24
국어:  42
영어:  43
수학:  74
===============
===============
이름:  홍길동25
국어:  39
영어:  8
수학:  64
===============
===============
이름:  홍길동26
국어:  78
영어:  2
수학:  67
===============
===============
이름:  홍길동27
국어:  70
영어:  16
수학:  44
===============
===============
이름:  홍길동28
국어:  77
영어:  21
수학:  73
===============
===============
이름:  홍길동29
국어:  43
영어:  20
수학:  79
===============
===============
이름:  홍길동30
국어:  6
영어:  58
수학:  90
===============
===============
이름:  홍길동31
국어:  94
영어:  67
수학:  53
===============
===============
이름:  홍길동32
국어:  58
영어:  44
수학:  23
===============
===============
이름:  홍길동33
국어:  58
영어:  99
수학:  69
===============
===============
이름:  홍길동34
국어:  21
영어:  40
수학:  51
===============
===============
이름:  홍길동35
국어:  75
영어:  5
수학:  69
===============
===============
이름:  홍길동36
국어:  27
영어:  21
수학:  21
===============
===============
이름:  홍길동37
국어:  54
영어:  4
수학:  74
===============
===============
이름:  홍길동38
국어:  27
영어:  75
수학:  67
===============
===============
이름:  홍길동39
국어:  71
영어:  94
수학:  55
===============
===============
이름:  홍길동40
국어:  26
영어:  85
수학:  7
===============
===============
이름:  홍길동41
국어:  83
영어:  52
수학:  40
===============
===============
이름:  홍길동42
국어:  21
영어:  43
수학:  2
===============
===============
이름:  홍길동43
국어:  74
영어:  1
수학:  60
===============
===============
이름:  홍길동44
국어:  46
영어:  80
수학:  71
===============
===============
이름:  홍길동45
국어:  33
영어:  98
수학:  62
===============
===============
이름:  홍길동46
국어:  1
영어:  67
수학:  26
===============
===============
이름:  홍길동47
국어:  17
영어:  92
수학:  36
===============
===============
이름:  홍길동48
국어:  69
영어:  45
수학:  62
===============
===============
이름:  홍길동49
국어:  12
영어:  64
수학:  87
===============
===============
이름:  홍길동50
국어:  76
영어:  52
수학:  3
===============
===============
이름:  홍길동51
국어:  27
영어:  98
수학:  18
===============
===============
이름:  홍길동52
국어:  83
영어:  17
수학:  94
===============
===============
이름:  홍길동53
국어:  99
영어:  99
수학:  33
===============
===============
이름:  홍길동54
국어:  57
영어:  98
수학:  9
===============
===============
이름:  홍길동55
국어:  51
영어:  90
수학:  62
===============
===============
이름:  홍길동56
국어:  60
영어:  80
수학:  43
===============
===============
이름:  홍길동57
국어:  19
영어:  17
수학:  8
===============
===============
이름:  홍길동58
국어:  11
영어:  43
수학:  57
===============
===============
이름:  홍길동59
국어:  51
영어:  81
수학:  0
===============
===============
이름:  홍길동60
국어:  3
영어:  81
수학:  6
===============
===============
이름:  홍길동61
국어:  34
영어:  71
수학:  92
===============
===============
이름:  홍길동62
국어:  16
영어:  21
수학:  22
===============
===============
이름:  홍길동63
국어:  65
영어:  56
수학:  55
===============
===============
이름:  홍길동64
국어:  11
영어:  78
수학:  27
===============
===============
이름:  홍길동65
국어:  92
영어:  92
수학:  44
===============
===============
이름:  홍길동66
국어:  79
영어:  49
수학:  91
===============
===============
이름:  홍길동67
국어:  13
영어:  34
수학:  44
===============
===============
이름:  홍길동68
국어:  60
영어:  22
수학:  65
===============
===============
이름:  홍길동69
국어:  87
영어:  92
수학:  41
===============
===============
이름:  홍길동70
국어:  99
영어:  74
수학:  30
===============
===============
이름:  홍길동71
국어:  42
영어:  28
수학:  8
===============
===============
이름:  홍길동72
국어:  56
영어:  72
수학:  82
===============
===============
이름:  홍길동73
국어:  68
영어:  68
수학:  17
===============
===============
이름:  홍길동74
국어:  95
영어:  76
수학:  26
===============
===============
이름:  홍길동75
국어:  59
영어:  0
수학:  34
===============
===============
이름:  홍길동76
국어:  95
영어:  3
수학:  69
===============
===============
이름:  홍길동77
국어:  6
영어:  32
수학:  90
===============
===============
이름:  홍길동78
국어:  28
영어:  91
수학:  14
===============
===============
이름:  홍길동79
국어:  44
영어:  9
수학:  49
===============
===============
이름:  홍길동80
국어:  60
영어:  17
수학:  93
===============
===============
이름:  홍길동81
국어:  21
영어:  25
수학:  9
===============
===============
이름:  홍길동82
국어:  3
영어:  53
수학:  78
===============
===============
이름:  홍길동83
국어:  15
영어:  17
수학:  3
===============
===============
이름:  홍길동84
국어:  47
영어:  95
수학:  72
===============
===============
이름:  홍길동85
국어:  76
영어:  19
수학:  79
===============
===============
이름:  홍길동86
국어:  59
영어:  7
수학:  21
===============
===============
이름:  홍길동87
국어:  8
영어:  26
수학:  86
===============
===============
이름:  홍길동88
국어:  31
영어:  4
수학:  42
===============
===============
이름:  홍길동89
국어:  66
영어:  68
수학:  14
===============
===============
이름:  홍길동90
국어:  6
영어:  38
수학:  61
===============
===============
이름:  홍길동91
국어:  77
영어:  23
수학:  60
===============
===============
이름:  홍길동92
국어:  21
영어:  87
수학:  68
===============
===============
이름:  홍길동93
국어:  25
영어:  18
수학:  45
===============
===============
이름:  홍길동94
국어:  16
영어:  85
수학:  59
===============
===============
이름:  홍길동95
국어:  95
영어:  64
수학:  51
===============
===============
이름:  홍길동96
국어:  16
영어:  49
수학:  92
===============
===============
이름:  홍길동97
국어:  98
영어:  32
수학:  78
===============
===============
이름:  홍길동98
국어:  45
영어:  67
수학:  22
===============
===============
이름:  홍길동99
국어:  34
영어:  6
수학:  75
===============

In [47]:
import sqlite3 as s #sqlite3 를 s로 호출
con=s.connect("my01.db") #my01.db 와 연결
cursor = con.cursor() #con의 cursor함수를 cursor 함수를 저장
cursor.execute("drop table examtable;") #table 삭제 실행, 위에서 만든 테이블 삭제
con.commit() #commit 실행
#create 명령 실행, examtable의 변수 및 크기 지정
cursor.execute("create table examtable(name varchar(20), studentid int not null primary key, kor int, eng int, mat int)")
con.commit() #버퍼에 처리된 내용을 기록 commit
cursor.close() #커서 종료
con.close() #커넥트 종료

In [48]:
import sqlite3 as s #sqlite3 를 s로 호출
con=s.connect("my01.db") #my01.db 와 연결
cursor = con.cursor() #con의 cursor함수를 cursor 함수를 저장

con.commit() #commit 실행
#create 명령 실행, examtable의 변수 및 크기 지정
cursor.execute("create table examtable(name varchar(20), studentid int not null primary key, kor int, eng int, mat int)")
con.commit() #버퍼에 처리된 내용을 기록 commit
cursor.close() #커서 종료
con.close() #커넥트 종료

OperationalError: table examtable already exists

In [49]:
import sqlite3 as s #sqlite3 를 s로 호출
con=s.connect("my01.db") #my01.db 와 연결
cursor = con.cursor() #con의 cursor함수를 cursor 함수를 저장
cursor.execute("drop table examtable;") #table 삭제 실행, 위에서 만든 테이블 삭제
con.commit() #commit 실행
#create 명령 실행, examtable의 변수 및 크기 지정
cursor.execute("create table examtable(name varchar(20), studentid int not null primary key, kor int, eng int, mat int)")
con.commit() #버퍼에 처리된 내용을 기록 commit
cursor.close() #커서 종료
con.close() #커넥트 종료

In [50]:
import sqlite3 as s #sqlite3 를 s로 호출
con=s.connect("my01.db") #my01.db 와 연결
cursor = con.cursor() #con의 cursor함수를 cursor 함수를 저장

con.commit() #commit 실행
#create 명령 실행, examtable의 변수 및 크기 지정
cursor.execute("create table examtable(name varchar(20), studentid int not null primary key, kor int, eng int, mat int)")
con.commit() #버퍼에 처리된 내용을 기록 commit
cursor.close() #커서 종료
con.close() #커넥트 종료

OperationalError: table examtable already exists

In [51]:
import sqlite3 as s #sqlite3 를 s로 호출
con=s.connect("my01.db") #my01.db 와 연결
cursor = con.cursor() #con의 cursor함수를 cursor 함수를 저장

#테이블내에 트와이스의 이름, 학번, 성적 정보 입력
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"나연\", 20990001, 95, 100, 95);") 
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"정연\", 20990002, 90, 90, 85);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"모모\", 20990003, 95, 95, 75);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"사나\", 20990004, 85, 90, 90);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"지효\", 20990005, 100, 90, 85);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"미나\", 20990006, 90, 80, 90);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"다현\", 20990007, 75, 90, 100);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"채영\", 20990008, 95, 70, 90);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"쯔위\", 20990009, 85, 90, 90);")

con.commit() #버퍼에 처리된 내용을 기록 commit
cursor.close() #커서 종료
con.close() #커넥트 종료

In [52]:
import sqlite3 as s #sqlite3 를 s로 호출
con=s.connect("my01.db") #my01.db 와 연결
cursor = con.cursor() #con의 cursor함수를 cursor 함수를 저장
# 테이블의 모든 내용 출력하는 명령 실행
cursor.execute("select * from examtable")

one_rec=cursor.fetchall() #해당 데이터를 전부 가져옴

for field in one_rec: #해당 데이터를 반복문을 통해 하나씩 처리
    kor=field[2]
    eng=field[3]
    mat=field[4]
    print("이름:%s 학번:%s 국어:%3d 영어:%3d 수학:%3d 총점:%3d 평균:%3d"%(field[0],field[1],kor,eng,mat,kor+eng+mat,int((kor+eng+mat)/3)))

cursor.close() #커서 종료
con.close() #커넥트 종료

이름:나연 학번:20990001 국어: 95 영어:100 수학: 95 총점:290 평균: 96
이름:정연 학번:20990002 국어: 90 영어: 90 수학: 85 총점:265 평균: 88
이름:모모 학번:20990003 국어: 95 영어: 95 수학: 75 총점:265 평균: 88
이름:사나 학번:20990004 국어: 85 영어: 90 수학: 90 총점:265 평균: 88
이름:지효 학번:20990005 국어:100 영어: 90 수학: 85 총점:275 평균: 91
이름:미나 학번:20990006 국어: 90 영어: 80 수학: 90 총점:260 평균: 86
이름:다현 학번:20990007 국어: 75 영어: 90 수학:100 총점:265 평균: 88
이름:채영 학번:20990008 국어: 95 영어: 70 수학: 90 총점:255 평균: 85
이름:쯔위 학번:20990009 국어: 85 영어: 90 수학: 90 총점:265 평균: 88