In [1]:
i=0 #반복 카운터, 초기화
sum=0 #누적할 변수, 초기화
while i <100 : #0부터 100까지 실행,만일 실행횟수는 100회
    i+=1 #i=0+1, i=1+1, i=2+1, i=3+1,i는 1씩 증가
    sum = sum + i #sum=0+1, sum=1+2, sum=3+3,sum=6+4 #sum은 더한 값이 누적됨
print("sum=",sum) #while 반복을 빠져 나와서 출력

sum= 5050

In [2]:
i=0 #i 변수 및 초기화
for a in ["1",2,"3",55]: #for 반복문 컬렉션 인에서 반복
    print("a[",i,"] 자료형:",type(a)," 값:",a) #출력, type, 값
    i+=1

a[ 0 ] 자료형: <class 'str'>  값: 1
a[ 1 ] 자료형: <class 'int'>  값: 2
a[ 2 ] 자료형: <class 'str'>  값: 3
a[ 3 ] 자료형: <class 'int'>  값: 55

In [4]:
for i in range(1,10,1): #for 반복문 1부터 10까지 1씩 증가
    print(i,",",end="") # 출력 i

1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,

In [5]:
for i in range(10): #for 반복문 0부터 10까지 1씩 증가(시작, 증가 생략)
    print(i,",",end="") # 출력 i

0 ,1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,

In [7]:
for i in range(1,10): #for 반복문 1부터 10까지 1씩 증가(시작, 증가 생략)
    print(i,",",end="") # 출력 i

1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,

In [9]:
for i in range(1,10,2): #for 반복문 1부터 10까지 2씩 증가
    print(i,",",end="") # 출력 i

1 ,3 ,5 ,7 ,9 ,

In [10]:
for i in range(10,0,-1):#for 반복문 10부터 0까지 -1씩 감소
    print(i,",",end="") # 출력 i

10 ,9 ,8 ,7 ,6 ,5 ,4 ,3 ,2 ,1 ,

In [11]:
for i in range(10): #for 반복문 1부터 10까지 1씩 증가(시작, 증가 생략)
    if(i==3): #i가 3이되면 
        break #반복 종료
    print(i,",",end="") #i 출력

0 ,1 ,2 ,

In [12]:
for i in range(10): #for 반복문 1부터 10까지 1씩 증가(시작, 증가 생략)
    if(i==3): #i가 3이되면 
        continue #문장 아래를 실행하지 않고 처음으로 이동 후 반복
    print(i,",",end="") #i 출력

0 ,1 ,2 ,4 ,5 ,6 ,7 ,8 ,9 ,

In [15]:
i=0;sum=0 #i, sum 변수 선언 및 초기화
while True: #while 반복
    i+=1;sum+=i #누적 합계
    if(i==100): break #i가 100이 도달하면  break
print("i=",i,"sum=",sum) #출력 i, sum

i= 100 sum= 5050

In [22]:
for i in range(1,121): #for i 반복 i는 1부터 121까지 1씩 증가
    print("*",end="") #*을 출력
    if(i%30==0): print(end="\n") #i가 30으로 나눈 나머지가 0이면 개행

******************************
******************************
******************************
******************************

In [23]:
for i in range(1,10): #for 반복 i는 1부터 10까지 1씩 증가
    for j in range(1,10): #for 반복 j는 1부터 10까지 1씩 증가
        print( i,"*",j,"=",i*j) #출력 i * j
    print("********************") #단 변경 구분

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
********************
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
********************
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
********************
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
********************
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
********************
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
********************
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
********************
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
********************
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
********************

In [24]:
for i in range(1,10):#for i 반복 i는 1부터 10까지 1씩 증가
    for j in range(i,10): #for j 반복 j는 1부터 10까지 1씩 증가
        print( "*",end="") # *출력
    print(end="\n") # 개행

*********
********
*******
******
*****
****
***
**
*

In [25]:
i=1 #i 변수 선언 및 초기화
while True: #while 반복문
    j=i #j변수 선언 및 초기화
    while True: #while 반복
        if(j==10): break #j가 10이되면 break
        print( "*",end="")  #*출력
        j+=1  #j는 1씩 증가
    if(i==10): break #i가 10이되면
    print(end="\n") #개행
    i+=1 #i는 1씩 증가

*********
********
*******
******
*****
****
***
**
*

In [27]:
Mon=1 #Mon 변수 선언 및 초기화
for LastDay in [31,28,31,30,31,30,31,31,30,31,30,31]: #for 반복 lastday 컬렉션
    print(Mon,"월 :",end="") #print 월
    for Day in range(1,LastDay+1): #for 반복 day는 1부터 lastaday+1까지 반복
        print(Day,end=",") #출력 day
    print(end="\n") #개행
    Mon+=1  #Mon +1 누적

1 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,
2 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,
3 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,
4 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,
5 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,
6 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,
7 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,
8 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,
9 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,
10 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,
11 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,
12 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,

In [28]:
for i in range(2,10,3): #for 반복 i는 2부터 10까지 3씩 증가
    for j in range(2,10): #for 반복 j는 2부터 10까지 1씩 증가
        print(i,"*",j,"=",i*j,end="\t") #출력
        print(i+1,"*",j,"=",i*j,end="\t") #출력
        if(i+2!=10): print(i+2,"*",j,"=",i*j,end="\n") #조건 i+2가 10이 아니면 출력
        else: print(end="\n") # 그렇지 않으면 개행
    print(end="\n") #개행

2 * 2 = 4	3 * 2 = 4	4 * 2 = 4
2 * 3 = 6	3 * 3 = 6	4 * 3 = 6
2 * 4 = 8	3 * 4 = 8	4 * 4 = 8
2 * 5 = 10	3 * 5 = 10	4 * 5 = 10
2 * 6 = 12	3 * 6 = 12	4 * 6 = 12
2 * 7 = 14	3 * 7 = 14	4 * 7 = 14
2 * 8 = 16	3 * 8 = 16	4 * 8 = 16
2 * 9 = 18	3 * 9 = 18	4 * 9 = 18

5 * 2 = 10	6 * 2 = 10	7 * 2 = 10
5 * 3 = 15	6 * 3 = 15	7 * 3 = 15
5 * 4 = 20	6 * 4 = 20	7 * 4 = 20
5 * 5 = 25	6 * 5 = 25	7 * 5 = 25
5 * 6 = 30	6 * 6 = 30	7 * 6 = 30
5 * 7 = 35	6 * 7 = 35	7 * 7 = 35
5 * 8 = 40	6 * 8 = 40	7 * 8 = 40
5 * 9 = 45	6 * 9 = 45	7 * 9 = 45

8 * 2 = 16	9 * 2 = 16
8 * 3 = 24	9 * 3 = 24
8 * 4 = 32	9 * 4 = 32
8 * 5 = 40	9 * 5 = 40
8 * 6 = 48	9 * 6 = 48
8 * 7 = 56	9 * 7 = 56
8 * 8 = 64	9 * 8 = 64
8 * 9 = 72	9 * 9 = 72

In [29]:
for i in range(2,5): #for 반복 i 2부터 5까지 1씩 증가
    for j in range(2,10): #for 반복 j 2부터 5까지 1씩 증가
        print(i,"*",j,"=",i*j,end="\t") #출력
        print(i+3,"*",j,"=",i*j,end="\t") #출력
        if(i+6!=10): print(i+6,"*",j,"=",i*j,end="\n") #i+6이 10이 아니라면 출력
        else: print(end="\n") #그렇지않으면 개행
    print(end="\n") #개행

2 * 2 = 4	5 * 2 = 4	8 * 2 = 4
2 * 3 = 6	5 * 3 = 6	8 * 3 = 6
2 * 4 = 8	5 * 4 = 8	8 * 4 = 8
2 * 5 = 10	5 * 5 = 10	8 * 5 = 10
2 * 6 = 12	5 * 6 = 12	8 * 6 = 12
2 * 7 = 14	5 * 7 = 14	8 * 7 = 14
2 * 8 = 16	5 * 8 = 16	8 * 8 = 16
2 * 9 = 18	5 * 9 = 18	8 * 9 = 18

3 * 2 = 6	6 * 2 = 6	9 * 2 = 6
3 * 3 = 9	6 * 3 = 9	9 * 3 = 9
3 * 4 = 12	6 * 4 = 12	9 * 4 = 12
3 * 5 = 15	6 * 5 = 15	9 * 5 = 15
3 * 6 = 18	6 * 6 = 18	9 * 6 = 18
3 * 7 = 21	6 * 7 = 21	9 * 7 = 21
3 * 8 = 24	6 * 8 = 24	9 * 8 = 24
3 * 9 = 27	6 * 9 = 27	9 * 9 = 27

4 * 2 = 8	7 * 2 = 8
4 * 3 = 12	7 * 3 = 12
4 * 4 = 16	7 * 4 = 16
4 * 5 = 20	7 * 5 = 20
4 * 6 = 24	7 * 6 = 24
4 * 7 = 28	7 * 7 = 28
4 * 8 = 32	7 * 8 = 32
4 * 9 = 36	7 * 9 = 36