In [6]:
a = [1, 2, 3, 4, 5] #리스트 작성
a[0], a[1], a[2], a[3], a[4] #리스트의 0 1 2 3 4번째 값 출력

(1, 2, 3, 4, 5)

In [10]:
a = [11, "abc", 12.3333, "안녕", 2+3j] #리스트엔 다양한 자료형을 받을 수 있다.
a[0], a[1], a[2], a[3], a[4] #리스트의 0 1 2 3 4번째 값 출력

(11, 'abc', 12.3333, '안녕', (2+3j))

In [11]:
a[1] = 1234; a[4] = "이주현" #리스트의 값도 바꿀 수 있다.
a

[11, 1234, 12.3333, '안녕', '이주현']

In [9]:
score = [90, 80, 70, 60, 30] #점수를 리스트에 입력
sum = 0 #합을 구할 변수 선언
for s in score: #s에 score 리스트의 값을 순서대로 입력
    print("점수(",s,")") # 받아온 값을 포멧에 맞게 출력한다.
    sum+=s #점수를 누적한다.
print("총점:",sum); #합계를 출력한다.

점수( 90 )
점수( 80 )
점수( 70 )
점수( 60 )
점수( 30 )
총점: 330

In [12]:
a=[1,2,3,4,5] #리스트 선언
a[0], a[-5] #0번째 값(1) -5번째값(1) 출력

(1, 1)

In [13]:
a[1],a[-4] #1번째 값(2) -4번째값(2) 출력

(2, 2)

In [14]:
a[2],a[-3] #2번째 값(3) -3번째값(3) 출력

(3, 3)

In [15]:
a[3],a[-2] #3번째 값(4) -2번째값(4) 출력

(4, 4)

In [16]:
a[4],a[-1] #4번째 값(5) -1번째값(5) 출력

(5, 5)

In [30]:
a=[1,2,3,4,5,6,7,8,9,10] #리스트 선언
a[2:8] # 2번째부터 7번째까지 출력

[3, 4, 5, 6, 7, 8]

In [31]:
a[:4] #0번째부터 3번째까지 출력

[1, 2, 3, 4]

In [32]:
a[5:] #5번째부터 끝까지

[6, 7, 8, 9, 10]

In [34]:
a[0:6:3] #0부터 6보다 작을때까지 (6은 제외 0,3) 3씩 증가

[1, 4]

In [36]:
a=[[1,2,3],[4,5,6],[7,8,9]] #2차 배열 (배열 속 배열)
a[2] #3번째 배열 출력

[7, 8, 9]

In [37]:
a[2][2] #3번쨰 배열의 3번째 값 출력(9)

9

In [38]:
a[1][3] #2번째 배열의 4번째 값 출력 (없으니 오류)

IndexError: list index out of range

In [39]:
a[1][2] #2번째 배열의 3번째 값 출력

6

In [40]:
a=[[1,2],[3,4,5],6] # 가변 형태의 리스트

In [41]:
a #a를 출력한다

[[1, 2], [3, 4, 5], 6]

In [42]:
a[2] #a의 3번째 값 출력(6)

6

In [43]:
a[1] #a의 2번째 값(배열) 출력

[3, 4, 5]

In [44]:
a=[ n * 3 for n in range (1,10)] #a에 n에 대하여 1부터 9까지 입력하며 모든 값에 3을 곱한다
a #a 출력

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [45]:
a=[ n * 3 for n in range (1,10) if n % 2 ==0 ] #n에 1부터 9까지 짝수만 입력하고 그 값에 3을 곱하여 리스트
a #출력

[6, 12, 18, 24]

In [46]:
def titleprint(): # 상단 부분 출력 구간
    print("="*50) #구분선 출력
    print("이름\t국어\t영어\t수학\t총점\t평균") #이름 및 과목 총점 평균 칸 생성
    print("="*50) #구분선 출력
    
def itemprint(name,kor,eng,mat): # 성적 입력하는 함수
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)

def tailprint(): #합산 부분 출력
    totkor=0 #국어합 지정할 변수 선언
    toteng=0 #영어합 지정할 변수 선언
    totmat=0 #수학합 지정할 변수 선언
    for one_student in score: #성적 배열의 각 과목 값을 더한다
        totkor+=one_student[kor]
        toteng+=one_student[eng]
        totmat+=one_student[mat]
    print("="*50) #구분선 출력
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t"\
        ,(totkor+toteng+totmat),"\t",(totkor+toteng+totmat)/3//9) #이름 성적 총합 평균 출력
    print("="*50) #구분선

#데이터 입력, 2차원 배열 사용
score=[["나연",100,90,100],
    ["정연",90,90,100],
    ["모모",80,70,90],
    ["사나",90,90,80],
    ["지효",100,80,80],
    ["미나",50,90,90],
    ["다현",80,60,100],
    ["채영",70,80,90],
    ["쯔위",100,90,90]]

#상수 정의, 배열에서의 성적 위치
name=0;kor=1;eng=2;mat=3

#프로그램 부분
titleprint() #제목을 출력하는 함수 실행
for one_student in score: #리스트의 값을 넣어가며 성적 출력
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat])
tailprint() #합계 부분 출력

==================================================
이름	국어	영어	수학	총점	평균
==================================================
나연 	 100 	 90 	 100 	 290 	 96
정연 	 90 	 90 	 100 	 280 	 93
모모 	 80 	 70 	 90 	 240 	 80
사나 	 90 	 90 	 80 	 260 	 86
지효 	 100 	 80 	 80 	 260 	 86
미나 	 50 	 90 	 90 	 230 	 76
다현 	 80 	 60 	 100 	 240 	 80
채영 	 70 	 80 	 90 	 240 	 80
쯔위 	 100 	 90 	 90 	 280 	 93
==================================================
반총점	 760 	 740 	 820 	 2320 	 85.0
==================================================

In [47]:
a=[1,2,3,4,5] #리스트 선언
a #리스트 출력

[1, 2, 3, 4, 5]

In [48]:
del a[2] #3번째 값 삭제
a #a출력

[1, 2, 4, 5]

In [49]:
del a[2] #3번째 값 삭제
a #a출력

[1, 2, 5]

In [50]:
a.clear() #a값 전부 삭제
a

[]

In [51]:
del a #a 리스트를 삭제
a

NameError: name 'a' is not defined

In [52]:
del a
a.append(1) #append: 리스트에 값 추가, 리스트가 없으면 추가는 불가능

NameError: name 'a' is not defined

In [53]:
a=[] #리스트 선언

In [54]:
a.append(1) #1 추가
a.append(3) #3 추가
a.append(5) #5 추가
a # 출력

[1, 3, 5]

In [55]:
a=[4,5,6] #a 재정의
a.append(10) #a에 10추가
a

[4, 5, 6, 10]

In [56]:
a=[1,2,3,4,5] #a 리스트 선언
a.append(6) #맨뒤에 6추가
a #a 출력

[1, 2, 3, 4, 5, 6]

In [57]:
a.insert(3,12) #a의 4번째 위치에 12 추가
a #a 출력

[1, 2, 3, 12, 4, 5, 6]

In [58]:
a.insert(4,15) #a의 5번째 위치에 15추가

In [59]:
a

[1, 2, 3, 12, 15, 4, 5, 6]

In [60]:
a.insert(3,1) #a의 4번째 위치에 1 추가
a

[1, 2, 3, 1, 12, 15, 4, 5, 6]

In [61]:
a=[1, 2, 3, 1, 12, 15, 4, 5, 6] #리스트 선언
a[5:5] = [1, 2, 3, 4, 5, 6] #6번째 위치부터 6번째 위치까지 영역에 해당리스트 값을 입력
a

[1, 2, 3, 1, 12, 1, 2, 3, 4, 5, 6, 15, 4, 5, 6]

In [62]:
a=[1, 2, 3, 1, 12, 15, 4, 5, 6] # 리스트 선언
a[5]=[1,2,3,4,5,6] # 해당 위치에 리스트의 형태로 값 입력

In [63]:
a

[1, 2, 3, 1, 12, [1, 2, 3, 4, 5, 6], 4, 5, 6]

In [64]:
a=[1,2,3]; b=[4,5,6] #리스트 a b 선언
a=a+b #a에 ab를 병합하여 입력
a #a출력

[1, 2, 3, 4, 5, 6]

In [65]:
a=[1,2,3]; b=[4,5,6] #리스트 a b 선언
a.extend(b) #a뒤에 b 병합
a #a 출력

[1, 2, 3, 4, 5, 6]

In [75]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8] # 리스트 선언
a #출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]

In [76]:
a.remove(7) #8번째 위치에 있는 값 삭제
a #a 출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 8]

In [78]:
a.remove(7) #8번째 위치에 있는 값 삭제
a #a 출력

[1, 2, 3, 3, 4, [], 5, 6, 7, 7, 8]

In [79]:
a[5] = [] #5번째 위치 뒤에 빈 배열 추가
a #출력

[1, 2, 3, 3, 4, [], 5, 6, 7, 7, 8]

In [80]:
del(a[4]) #4번째 위치의 뒤에 값 삭제
a #출력

[1, 2, 3, 3, [], 5, 6, 7, 7, 8]

In [81]:
del(a[3]) #3번째 위치의 뒤에 값 삭제
a #출력

[1, 2, 3, [], 5, 6, 7, 7, 8]

In [82]:
a.clear() #리스트 안의 모든 값 삭제
a #출력, 리스트는 남아있다

[]

In [83]:
del(a) #리스트 정의까지 삭제
a #출력, 에러가 뜬다

NameError: name 'a' is not defined