In [13]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8] # 리스트 선언
a #출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]

In [14]:
a.remove(7) #첫 번째 만나는 7값을 가진 리스트 삭제
a #a 출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 8]

In [15]:
a.remove(7) #첫 번째 만나는 7값을 가진 리스트 삭제
a #a 출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 8]

In [16]:
a[5] = [] #5번째값을 빈 값으로 변경
a # a출력

[1, 2, 3, 3, 4, [], 5, 6, 7, 7, 8]

In [17]:
a[2:4] = [] #2~3번째 값을 빈 값으로 변경
a #a 출력

[1, 2, 4, [], 5, 6, 7, 7, 8]

In [18]:
del(a[4]) #4번째 위치의 값 삭제
a #출력

[1, 2, 4, [], 6, 7, 7, 8]

In [19]:
del(a[3]) #3번째 위치의 값 삭제
a #출력

[1, 2, 4, 6, 7, 7, 8]

In [20]:
a.clear() #리스트 안의 모든 값 삭제
a #출력, 리스트는 남아있다

[]

In [21]:
del(a) #리스트 정의까지 삭제
a #출력, 에러가 뜬다

NameError: name 'a' is not defined

In [22]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8] #리스트 선언
a.pop() #값이 없어서 마지막 8을 리턴한다

8

In [23]:
a #출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7]

In [24]:
a.pop() #마지막 값인 7을 리턴

7

In [25]:
a.pop(3) #4번쨰 값 리턴후 삭제(3)

3

In [26]:
a #출력

[1, 2, 3, 4, 4, 5, 6, 7, 7, 7]

In [27]:
a.pop(6) #6번째 값 리턴후 삭제(6)

6

In [28]:
a #출력

[1, 2, 3, 4, 4, 5, 7, 7, 7]

In [29]:
a.pop(6) #7 리턴후 삭제

7

In [30]:
a.pop(0) #첫번째 값 리턴후 삭제(1)

1

In [31]:
a #출력

[2, 3, 4, 4, 5, 7, 7]

In [32]:
a = [1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8] #리스트 작성
a.index(7) #해당 값이 처음 나오는 위치 반환(8)

8

In [33]:
a.index(8) #8이 처음 나오는 위치 반환(12)

12

In [34]:
a.index(4) #4가 처음 나오는 위치 반환(4)

4

In [35]:
a.count(7) #7이 몇번 나오는지 알려줌(4)

4

In [38]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8] #리스트 선언
min(a) #최소값 출력

1

In [39]:
max(a) #최대값 출력

8

In [40]:
len(a) #리스트 길이 출력

13

In [41]:
a=[1,8,5,6,2,4,5,2,6,9,4] # 리스트 선언
a.reverse() #a의 순서를 반대로 바꾼다.
a #출력

[4, 9, 6, 2, 5, 4, 2, 6, 5, 8, 1]

In [42]:
a.sort() #오름차순으로 변경한다
a #출력

[1, 2, 2, 4, 4, 5, 5, 6, 6, 8, 9]

In [43]:
import random as r #랜덤함수 사용하기 위해 라이브러리 선언

def titleprint(): # 상단 부분 출력 구간
    print("="*50) #구분선 출력
    print("이름\t국어\t영어\t수학\t총점\t평균") #이름 및 과목 총점 평균 칸 생성
    print("="*50) #구분선 출력
    
def itemprint(name,kor,eng,mat): # 성적 입력하는 함수
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)

def tailprint(): #합산 부분 출력
    totkor=0 #국어합 지정할 변수 선언
    toteng=0 #영어합 지정할 변수 선언
    totmat=0 #수학합 지정할 변수 선언
    for one_student in score: #성적 배열의 각 과목 값을 더한다
        totkor+=one_student[kor]
        toteng+=one_student[eng]
        totmat+=one_student[mat]
    print("="*50) #구분선 출력
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t"\
        ,(totkor+toteng+totmat),"\t",(totkor+toteng+totmat)/3//100) #이름 성적 총합 평균 출력
    print("="*50) #구분선

one_person=[] #리스트 선언(인원의 이름, 성적을 추가)
score=[] #리스트 선언(위의 one_person의 성적을 하나하나 리스트에 추가)
for i in range(100): #10부터 99까지 1씩 증가하며 입력하는 for문 작성
    one_person.append("name"+str(i)) #이름 (0 ~ 99)
    one_person.append(r.randrange(10,100)) #국어 10부터100까지임의에값을추출
    one_person.append(r.randrange(10,100)) #영어 10부터100까지임의에값을추출
    one_person.append(r.randrange(10,100)) #수학 10부터100까지임의에값을추출
    score.append(one_person[:]) #값을 복사해서 추가함에 주의할것
    one_person.clear() #배열을 비운다.

# 리스트에서의 위치 입력
name=0; kor=1; eng=2; mat=3

#함수 실행
titleprint() #상단부 출력
for one_student in score: #성적 출력
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat])
tailprint() #집계부분 출력

==================================================
이름	국어	영어	수학	총점	평균
==================================================
name0 	 91 	 97 	 86 	 274 	 91
name1 	 73 	 84 	 13 	 170 	 56
name2 	 13 	 23 	 75 	 111 	 37
name3 	 58 	 60 	 11 	 129 	 43
name4 	 97 	 29 	 68 	 194 	 64
name5 	 91 	 21 	 56 	 168 	 56
name6 	 82 	 58 	 15 	 155 	 51
name7 	 86 	 97 	 12 	 195 	 65
name8 	 94 	 32 	 72 	 198 	 66
name9 	 80 	 18 	 51 	 149 	 49
name10 	 40 	 18 	 75 	 133 	 44
name11 	 86 	 83 	 55 	 224 	 74
name12 	 11 	 83 	 43 	 137 	 45
name13 	 96 	 52 	 48 	 196 	 65
name14 	 48 	 95 	 42 	 185 	 61
name15 	 90 	 85 	 75 	 250 	 83
name16 	 91 	 65 	 76 	 232 	 77
name17 	 77 	 75 	 90 	 242 	 80
name18 	 75 	 59 	 52 	 186 	 62
name19 	 47 	 98 	 43 	 188 	 62
name20 	 12 	 21 	 72 	 105 	 35
name21 	 50 	 98 	 23 	 171 	 57
name22 	 84 	 68 	 56 	 208 	 69
name23 	 88 	 38 	 87 	 213 	 71
name24 	 96 	 88 	 11 	 195 	 65
name25 	 17 	 93 	 66 	 176 	 58
name26 	 26 	 23 	 61 	 110 	 36
name27 	 10 	 71 	 98 	 179 	 59
name28 	 12 	 53 	 80 	 145 	 48
name29 	 45 	 53 	 61 	 159 	 53
name30 	 48 	 29 	 29 	 106 	 35
name31 	 54 	 95 	 35 	 184 	 61
name32 	 65 	 55 	 76 	 196 	 65
name33 	 54 	 61 	 31 	 146 	 48
name34 	 89 	 97 	 29 	 215 	 71
name35 	 66 	 36 	 32 	 134 	 44
name36 	 19 	 35 	 32 	 86 	 28
name37 	 58 	 82 	 24 	 164 	 54
name38 	 75 	 82 	 49 	 206 	 68
name39 	 36 	 37 	 56 	 129 	 43
name40 	 35 	 47 	 24 	 106 	 35
name41 	 33 	 41 	 28 	 102 	 34
name42 	 26 	 19 	 90 	 135 	 45
name43 	 25 	 12 	 90 	 127 	 42
name44 	 83 	 19 	 93 	 195 	 65
name45 	 27 	 33 	 72 	 132 	 44
name46 	 62 	 23 	 98 	 183 	 61
name47 	 76 	 19 	 73 	 168 	 56
name48 	 78 	 35 	 85 	 198 	 66
name49 	 25 	 79 	 85 	 189 	 63
name50 	 47 	 96 	 33 	 176 	 58
name51 	 72 	 17 	 55 	 144 	 48
name52 	 59 	 43 	 14 	 116 	 38
name53 	 36 	 60 	 23 	 119 	 39
name54 	 35 	 21 	 86 	 142 	 47
name55 	 16 	 19 	 96 	 131 	 43
name56 	 76 	 82 	 64 	 222 	 74
name57 	 91 	 84 	 20 	 195 	 65
name58 	 71 	 64 	 59 	 194 	 64
name59 	 65 	 59 	 25 	 149 	 49
name60 	 70 	 52 	 53 	 175 	 58
name61 	 68 	 10 	 77 	 155 	 51
name62 	 52 	 28 	 64 	 144 	 48
name63 	 67 	 71 	 10 	 148 	 49
name64 	 21 	 42 	 43 	 106 	 35
name65 	 57 	 11 	 31 	 99 	 33
name66 	 89 	 15 	 90 	 194 	 64
name67 	 58 	 55 	 39 	 152 	 50
name68 	 26 	 78 	 71 	 175 	 58
name69 	 37 	 45 	 52 	 134 	 44
name70 	 30 	 48 	 20 	 98 	 32
name71 	 36 	 11 	 22 	 69 	 23
name72 	 73 	 87 	 17 	 177 	 59
name73 	 63 	 58 	 13 	 134 	 44
name74 	 16 	 96 	 89 	 201 	 67
name75 	 32 	 39 	 94 	 165 	 55
name76 	 35 	 57 	 39 	 131 	 43
name77 	 57 	 61 	 70 	 188 	 62
name78 	 63 	 20 	 65 	 148 	 49
name79 	 38 	 81 	 56 	 175 	 58
name80 	 80 	 10 	 68 	 158 	 52
name81 	 98 	 81 	 59 	 238 	 79
name82 	 39 	 79 	 71 	 189 	 63
name83 	 38 	 56 	 81 	 175 	 58
name84 	 86 	 67 	 27 	 180 	 60
name85 	 76 	 20 	 66 	 162 	 54
name86 	 23 	 27 	 47 	 97 	 32
name87 	 51 	 61 	 53 	 165 	 55
name88 	 22 	 53 	 80 	 155 	 51
name89 	 86 	 72 	 39 	 197 	 65
name90 	 19 	 95 	 96 	 210 	 70
name91 	 42 	 77 	 82 	 201 	 67
name92 	 85 	 65 	 73 	 223 	 74
name93 	 10 	 80 	 78 	 168 	 56
name94 	 49 	 11 	 57 	 117 	 39
name95 	 41 	 26 	 18 	 85 	 28
name96 	 28 	 53 	 60 	 141 	 47
name97 	 36 	 22 	 22 	 80 	 26
name98 	 15 	 63 	 14 	 92 	 30
name99 	 75 	 81 	 75 	 231 	 77
==================================================
반총점	 5455 	 5383 	 5460 	 16298 	 54.0
==================================================

In [44]:
a = (1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4) #튜플 a
a

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [45]:
a[5] #튜플에서 5번째 뒤의 값을 확인한다.(4)

4

In [46]:
a[3:5] #3 4 값을 출력한다.

(6, 2)

In [47]:
a[3:8] #3 4 5 6 7 을 출력한다

(6, 2, 4, 5, 2)

In [48]:
a*2 #a를 두번 출력한다.

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [49]:
a #a를 출력한다.

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [50]:
a = (1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4) #튜플선언
a #출력

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [51]:
a[1] = 5 #값 변경 불가

TypeError: 'tuple' object does not support item assignment

In [52]:
del a[4] #변수 지우기 불가

TypeError: 'tuple' object doesn't support item deletion

In [53]:
a.append(10) #추가 불가능

AttributeError: 'tuple' object has no attribute 'append'

In [54]:
def location(): #위치 출력하는 함수 선언
    latitude = 2, 17403 # 위도 입력
    longitude=41,40338 #경도 입력
    return latitude,longitude  #이런 방식의 리턴은 튜플로 반환

a=location() #함수의 리턴값 입력
print(a) #a 출력

((2, 17403), (41, 40338))